
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}*

body {
    display : flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('imgs/fondo.jpg');
}

.contenido-centrado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.contenedor {
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.contenedor-interno {
    width: 80%;

}

#titulo {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: "Courgette", cursive;
  
}

#cita {
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

#autor {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
    padding: 20px;
    font-family: "Courgette", cursive;
   
}

#boton-cambiar-cita {
    width: 180px;
    height: 50px;
    font-size: 20px;
}
